<nav class="navbar navbar-expand-lg navbar-dark bg-menu">

  <button class="btn btn-link nav-link text-white" (click)="toggleSideBar()">
    <i class="fas fa-bars"></i>
  </button>

  <a id="navBarComponentPrivateLine7" class="navbar-brand" href="#/app">
    {{ 'NAV_BAR.SYSTEM_NAME' | translate }}
  </a>

  <ul class="navbar-nav flex-row align-items-center ml-auto">

    <li class="nav-item">
      <a class="nav-color-user " id="dropdownBasic1">{{ userLogged  }} <img src="https://dummyimage.com/200X200/777777/FFFFFF.png" class="img-round" alt="..."></a>
    </li>

    <div id="navBarComponentPrivateLine17" class="dropdown " style="width: 170px;" dropdown>
      <a dropdownToggle class="pull-right text-center btn btn-setting dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria- expanded="true"><i class="fa fa-cog nav-color-user"></i></a>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li id="navbarPrivateLine20" routerLink="/app/profile-update" class="dropdown-item"><i class="fas fa-user-circle"></i> {{ 'NAV_BAR.PROFILE' | translate }}</li>
        <li class="dropdown-item"><i class="fas fa-wrench"></i> {{ 'NAV_BAR.SETTINGS' | translate }}</li>
        <li class="dropdown-divider"></li>
        <li (click)="logout()"> <a class="dropdown-item" rel="noopener" ><i class="fas fa-sign-out-alt" ></i> {{ 'NAV_BAR.LOGOUT' | translate }} </a> </li>
      </ul>
    </div>
  </ul>
  

</nav>
