<section class="container mt-5">
  <h1>Usuário</h1>

  <form [formGroup]="form" (ngSubmit)="search()">

    <div class="row justify-content-center">
      <button type="button" class="btn btn-primary" routerLink="/app/usuario/novo">Criar Novo</button>
      <div *ngIf="exibirGifAguarde">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
      </div>
    </div>

    <div class="form-group form-inline">
      <div style="margin-top: 8px;">
        Nome: <input class="form-control ml-2" formControlName="nome"/>
        E-Mail: <input class="form-control ml-2" formControlName="email"/>
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid"><i class="fas fa-search"></i></button>
      </div>
    </div>

    <div class="form-row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" class="coluna-acoes-crud-header">Ação</th>            
            <th scope="col">Nome</th>
            <th scope="col">Login</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entity of entities">
            <td>
              <div class="coluna-acoes-crud-body" *ngIf="entity.id > 0">
                <a [routerLink]="['/app/usuario', entity.id]"><i class="fa fa-edit"></i></a>
                <button type="button" (click)="confirmRemoval(entity)" class="botao-sem-fundo"><i class="far fa-trash-alt"></i></button>
              </div>  
            </td>            
            <td>{{ entity.nome }}</td>
            <td>{{ entity.email }}</td>
          </tr>
        </tbody>
      </table>
      <app-pagination-table [page]="page" (paginationEvent)=changePage($event) style="width: 100%">
      </app-pagination-table>
    </div>

  </form>

  <app-form-debug [form]="form"></app-form-debug>
</section>