<section class="container mt-5">
    <h1 class="title-screen-create">{{ titleCity }}</h1>
  
    <form [formGroup]="form" (ngSubmit)="save()">
  
      <div>
        <div class="form-row">
          <div class="form-group col" formGroupName="state">

            <input id="city-state" formControlName="name"
            [typeahead]="states"
            typeaheadOptionField="name"
            (typeaheadOnSelect)="onSelect($event)"
            [typeaheadOptionsLimit]="7"
            [typeaheadMinLength]="0"
            placeholder="{{ 'CITY.LABEL_STATE' | translate }}"
            class="form-control"  tooltip="{{ 'CITY.TOOLTIP_STATE' | translate }}">
            
          </div>

          <div class="form-group col">
            <label class="requiredLabel">{{ 'CITY.LABEL_NAME' | translate }}</label>
            <input id="city-name" type="text" class="form-control" formControlName="name"
              tooltip="{{ 'CITY.LABEL_NAME' | translate }}">
            <app-form-messages-erro [control]="$any(form).controls['name']" label="{{ 'CITY.LABEL_NAME' | translate }}">
            </app-form-messages-erro>
          </div>
        </div>
      </div>
  
      <div class="buttons-crud-content">
        <button id="btn-save-city" type="submit" class="btn btn-primary" tooltip="{{ 'CRUD.TOOLTIP_SAVE' | translate }}"
          [disabled]="form.invalid">{{ 'CRUD.SAVE' | translate }}</button>
        <button id="btn-back" type="button" class="btn btn-secondary" tooltip="{{ 'CRUD.TOOLTIP_BACK' | translate }}"
          routerLink="/app/city">{{ 'CRUD.BACK' | translate }}</button>
      </div>
  
  
    </form>
  
    <app-form-debug [form]="form"></app-form-debug>
  </section>