<section class="site-container container mt-5 mb-5">

  <header class="row site-heading pb-5">
    <div class="col-lg-12">
      <h1 class="page-header text-center">{{ 'LOGIN.ACCESS_SYSTEM' | translate }}
        <small></small>
      </h1>
    </div>
  </header>

  <section class="row justify-content-center site-main">

    <form class="form-horizontal col-md-6 col-lg-5" [formGroup]="form" (ngSubmit)="onSubmit(form)">
      
      <div class="form-group mb-3">
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-user"></i></span>
          <input id="login_login" type="text" class="form-control" formControlName="login" placeholder="{{ 'LOGIN.LBL_LOGIN' | translate }}" >
        </div>
        <app-form-messages-erro [control]="$any(form).controls['login']" label="{{ 'LOGIN.REQUIRED_LOGIN' | translate }}"></app-form-messages-erro>
      </div>

      <div class="form-group mb-3">
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-key"></i></span>
          <input id="login_password" type="password" class="form-control" formControlName="pass" placeholder="{{ 'LOGIN.LBL_PASSWORD' | translate }}">
        </div>
        <app-form-messages-erro [control]="$any(form).controls['pass']" label="{{ 'LOGIN.REQUIRED_PASSWORD' | translate }}"></app-form-messages-erro>
      </div>

      <button id="login_btn_enter" type="submit" class="btn btn-primary btn-lg btn-block m-0" [disabled]="form.invalid">{{ 'LOGIN.ENTER' | translate }}</button>

      <div class="d-flex align-items-center justify-content-between mt-3">

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            {{ 'LOGIN.REMEMBER_ME' | translate }}
          </label>
        </div>

        <div class="custom-control disabledbutton">
          <a href="#" class="">{{ 'LOGIN.FORGOT_PASSWORD' | translate }}</a>
        </div>

      </div>

    </form>

  </section>

  <app-form-debug [form]="form"></app-form-debug>

</section>