.container-check-senhas {
    margin-left: 0px;
    margin-bottom: 10px;
    font-size: 75%;
    font-weight: 500;
    font-style: italic;
    color: #dc3545;
    line-height: 1em;
}

.icone-check-senhas {
    padding-right: 3px;
}