<div class="navbar-default navbar-inverse sidebar h-100">

  <ul>

    <li>
      <a aria-expanded="false" routerLink="/app/model">
        <span><i class="fas fa-tags"></i> {{ 'SIDE_BAR.MODEL' | translate }}</span>
        <i class="fas fa-angle-down"></i>
      </a>
      <ul aria-expanded="false">
        <li><a routerLink="/app/model">{{ 'SIDE_BAR.SEE_POSTS' | translate }}<i class="fas fa-thin fa-list"></i></a></li>
        <li><a routerLink="/app/model/new">{{ 'SIDE_BAR.ADD_MODEL' | translate }}<i class="fas fa-solid fa-plus"></i></a></li>
      </ul>
    </li>

    <li>
      <a aria-expanded="false" routerLink="/app/brand">
        <span><i class="fas fa-tags"></i> {{ 'SIDE_BAR.BRAND' | translate }}</span>
        <i class="fas fa-angle-down"></i>
      </a>
      <ul aria-expanded="false">
        <li><a routerLink="/app/brand">{{ 'SIDE_BAR.SEE_POSTS' | translate }}<i class="fas fa-thin fa-list"></i></a></li>
        <li><a routerLink="/app/brand/new">{{ 'SIDE_BAR.ADD_BRAND' | translate }}<i class="fas fa-solid fa-plus"></i></a></li>
      </ul>
    </li>

    <li>
      <a aria-expanded="false" routerLink="/app/vehicle">
        <span><i class="fas fa-tags"></i> {{ 'SIDE_BAR.VEHICLE' | translate }}</span>
        <i class="fas fa-angle-down"></i>
      </a>
      <ul aria-expanded="false">
        <li><a routerLink="/app/vehicle">{{ 'SIDE_BAR.SEE_POSTS' | translate }}<i class="fas fa-thin fa-list"></i></a></li>
        <li><a routerLink="/app/vehicle/new">{{ 'SIDE_BAR.ADD_VEHICLE' | translate }}<i class="fas fa-solid fa-plus"></i></a></li>
      </ul>
    </li>

    <li>
      <a aria-expanded="false" routerLink="/app/state">
        <span><i class="fas fa-tags"></i> {{ 'SIDE_BAR.STATE' | translate }}</span>
        <i class="fas fa-angle-down"></i>
      </a>
      <ul aria-expanded="false">
        <li><a routerLink="/app/state">{{ 'SIDE_BAR.SEE_POSTS' | translate }}<i class="fas fa-thin fa-list"></i></a></li>
        <li><a routerLink="/app/state/new">{{ 'SIDE_BAR.ADD_STATE' | translate }}<i class="fas fa-solid fa-plus"></i></a></li>
      </ul>
    </li>

    <li>
      <a aria-expanded="false" routerLink="/app/city">
        <span><i class="fas fa-tags"></i> {{ 'SIDE_BAR.CITY' | translate }}</span>
        <i class="fas fa-angle-down"></i>
      </a>
      <ul aria-expanded="false">
        <li><a routerLink="/app/city">{{ 'SIDE_BAR.SEE_POSTS' | translate }}<i class="fas fa-thin fa-list"></i></a></li>
        <li><a routerLink="/app/city/new">{{ 'SIDE_BAR.ADD_CITY' | translate }}<i class="fas fa-solid fa-plus"></i></a></li>
      </ul>
    </li>

    <li>
      <a aria-expanded="false" routerLink="/app/employee">
        <span><i class="fas fa-tags"></i> {{ 'SIDE_BAR.EMPLOYEE' | translate }}</span>
        <i class="fas fa-angle-down"></i>
      </a>
      <ul aria-expanded="false">
        <li><a routerLink="/app/employee">{{ 'SIDE_BAR.SEE_POSTS' | translate }}<i class="fas fa-thin fa-list"></i></a></li>
        <li><a routerLink="/app/employee/new">{{ 'SIDE_BAR.ADD_EMPLOYEE' | translate }}<i class="fas fa-solid fa-plus"></i></a></li>
      </ul>
    </li>

    <li>
      <a aria-expanded="false" routerLink="/app/group">
        <span><i class="fas fa-tags"></i> {{ 'SIDE_BAR.GROUP' | translate }}</span>
        <i class="fas fa-angle-down"></i>
      </a>
      <ul aria-expanded="false">
        <li><a routerLink="/app/group">{{ 'SIDE_BAR.SEE_POSTS' | translate }}<i class="fas fa-thin fa-list"></i></a></li>
        <li><a routerLink="/app/group/new">{{ 'SIDE_BAR.ADD_GROUP' | translate }}<i class="fas fa-solid fa-plus"></i></a></li>
      </ul>
    </li>

    <li>
      <a aria-expanded="false" routerLink="/app/group-permission">
        <span><i class="fas fa-tags"></i> {{ 'SIDE_BAR.GROUP_PERMISSION' | translate }}</span>
        <i class="fas fa-angle-down"></i>
      </a>
      <ul aria-expanded="false">
        <li><a routerLink="/app/group-permission">{{ 'SIDE_BAR.SEE_POSTS' | translate }}<i class="fas fa-thin fa-list"></i></a></li>
        <li><a routerLink="/app/group-permission/new">{{ 'SIDE_BAR.ADD_GROUP_PERMISSION' | translate }}<i class="fas fa-solid fa-plus"></i></a></li>
      </ul>
    </li>

    <li>
      <a aria-expanded="false" routerLink="/app/user">
        <span><i class="fas fa-tags"></i> {{ 'SIDE_BAR.USER' | translate }}</span>
        <i class="fas fa-angle-down"></i>
      </a>
      <ul aria-expanded="false">
        <li><a routerLink="/app/user">{{ 'SIDE_BAR.SEE_POSTS' | translate }}<i class="fas fa-thin fa-list"></i></a></li>
        <li><a routerLink="/app/user/new">{{ 'SIDE_BAR.ADD_USER' | translate }}<i class="fas fa-solid fa-plus"></i></a></li>
      </ul>
    </li>


  </ul>

</div>
