<div class="navbar-default navbar-inverse sidebar h-100">

  <ul>

    <li>
      <a aria-expanded="false" routerLink="/app/model">
        <span><i class="fas fa-tags"></i> {{ 'SIDE_BAR.MODEL' | translate }}</span>
        <i class="fas fa-angle-down"></i>
      </a>
      <ul aria-expanded="false">
        <li><a routerLink="/app/model">{{ 'SIDE_BAR.SEE_POSTS' | translate }}</a></li>
        <li><a routerLink="/app/model/new">{{ 'SIDE_BAR.ADD_MODEL' | translate }}</a></li>
      </ul>
    </li>

    <li>
      <a aria-expanded="false" routerLink="/app/model">
        <span><i class="fas fa-tags"></i> {{ 'SIDE_BAR.MODEL' | translate }}</span>
        <i class="fas fa-angle-down"></i>
      </a>
      <ul aria-expanded="false">
        <li><a routerLink="/app/model">{{ 'SIDE_BAR.SEE_POSTS' | translate }}</a></li>
        <li><a routerLink="/app/model/new">{{ 'SIDE_BAR.ADD_MODEL' | translate }}</a></li>
      </ul>
    </li>

    <li>
      <a aria-expanded="false" routerLink="/app/model">
        <span><i class="fas fa-tags"></i> {{ 'SIDE_BAR.MODEL' | translate }}</span>
        <i class="fas fa-angle-down"></i>
      </a>
      <ul aria-expanded="false">
        <li><a routerLink="/app/model">{{ 'SIDE_BAR.SEE_POSTS' | translate }}</a></li>
        <li><a routerLink="/app/model/new">{{ 'SIDE_BAR.ADD_MODEL' | translate }}</a></li>
      </ul>
    </li>

    
    
    
<!--

    <li>
      <a aria-expanded="false" routerLink="/app/estado">
        <span><i class="fas fa-tags"></i> Estado</span>
        <i class="fas fa-angle-down"></i>
      </a>
      <ul aria-expanded="false">
        <li><a routerLink="/app/estado">Ver Posts</a></li>
        <li><a routerLink="/app/estado/novo">Adicionar Estado</a></li>
      </ul>
    </li>

    <li>
      <a aria-expanded="false" routerLink="/app/cidade">
        <span><i class="fas fa-tags"></i> Cidade</span>
        <i class="fas fa-angle-down"></i>
      </a>
      <ul aria-expanded="false">
        <li><a routerLink="/app/cidade">Ver Posts</a></li>
        <li><a routerLink="/app/cidade/nova">Adicionar Cidade</a></li>
      </ul>
    </li>
    

    <li>
      <a aria-expanded="false" routerLink="/app/usuario">
        <span><i class="fas fa-tags"></i> Usuário</span>
        <i class="fas fa-angle-down"></i>
      </a>
      <ul aria-expanded="false">
        <li><a routerLink="/app/usuario">Ver Posts</a></li>
        <li><a routerLink="/app/usuario/novo">Adicionar Usuário</a></li>
      </ul>
    </li>

    <li>
      <a aria-expanded="false" routerLink="/app/usuario-alterar-senha">
        <span><i class="fas fa-tags"></i> Alterar Senha</span>
        <i class="fas fa-angle-down"></i>
      </a>
      <ul aria-expanded="false">
        <li><a routerLink="/app/usuario-alterar-senha">Ver Posts</a></li>
        <li><a routerLink="/app/usuario-alterar-senha">Alterar senha</a></li>
      </ul>
    </li>

    <li>
      <a aria-expanded="false" routerLink="/app/grupo">
        <span><i class="fas fa-tags"></i> Grupo</span>
        <i class="fas fa-angle-down"></i>
      </a>
      <ul aria-expanded="false">
        <li><a routerLink="/app/grupo">Ver Posts</a></li>
        <li><a routerLink="/app/grupo/novo">Adicionar Grupo</a></li>
      </ul>
    </li>

    <li>
      <a aria-expanded="false" routerLink="/app/usuario-grupo">
        <span><i class="fas fa-tags"></i> Usuário Grupo</span>
        <i class="fas fa-angle-down"></i>
      </a>
      <ul aria-expanded="false">
        <li><a routerLink="/app/usuario-grupo">Ver Posts</a></li>
        <li><a routerLink="/app/usuario-grupo/novo">Adicionar Usuário Grupo</a></li>
      </ul>
    </li>

    <li>
      <a aria-expanded="false" routerLink="/app/grupo-permissao">
        <span><i class="fas fa-tags"></i> Grupo Permissão</span>
        <i class="fas fa-angle-down"></i>
      </a>
      <ul aria-expanded="false">
        <li><a routerLink="/app/grupo-permissao">Ver Posts</a></li>
        <li><a routerLink="/app/grupo-permissao/novo">Adicionar Grupo a Permissão</a></li>
      </ul>
    </li>

    
    <li>
      <a aria-expanded="false" routerLink="/app/permissao">
        <span><i class="fas fa-tags"></i> Permissão</span>
        <i class="fas fa-angle-down"></i>
      </a>
      <ul aria-expanded="false">
        <li><a routerLink="/app/permissao">Ver Posts</a></li>
        <li><a routerLink="/app/permissao">Listar Permissão</a></li>
      </ul>
    </li>

    -->

  </ul>

</div>
