<section class="container mt-5">

  <form>

    <div class="form-row">

      <tr>
        <th scope="col" class="text" >FangFarm</th>
      </tr>

      <ul class="text">
        <div class="text">
          
          Crie um projeto chamado FangFarm ele foi construído usando Spring Boot, Java, REST API e MySQL no backend e no frontend foi utilizado angular CLI.
          <br>
          O objetivo desse projeto e gerenciar uma fazenda com cadastros básicos de funcionários, veículos e animais.
          <br>
          Ele pode ser acessado clicando na aba “LOGIN” e clicando no botão entrar.

        </div>

      </ul>

      <tr>
        <th scope="col" class="text" >{{ 'PROJECT.PROJECT_NAME_TITLE_1' | translate }}</th>
      </tr>

      <ul class="text">
        <div class="text">
          {{ 'PROJECT.PROJECT_DESCRIPTION_1.1' | translate }}
        </div>

        <ul>

          <li>
            {{ 'PROJECT.PROJECT_DESCRIPTION_1.2' | translate }}
          </li>

          <li>
            {{ 'PROJECT.PROJECT_DESCRIPTION_1.3' | translate }}
          </li>

          <li>
            {{ 'PROJECT.PROJECT_DESCRIPTION_1.4' | translate }}
          </li>

          <li>
            {{ 'PROJECT.PROJECT_DESCRIPTION_1.5' | translate }}
          </li>

          <li>
            {{ 'PROJECT.PROJECT_DESCRIPTION_1.6' | translate }}
          </li>

          <li>
            {{ 'PROJECT.PROJECT_DESCRIPTION_1.7' | translate }}
          </li>

        </ul>

        <tr>
          <th scope="col">{{ 'PROJECT.PROJECT_NAME_SUB_TITLE_1' | translate }}</th>
        </tr>

        <ul>

          <li>
            {{ 'PROJECT.PROJECT_DESCRIPTION_SUB_TITLE_1.1' | translate }}
          </li>

          <li>
            {{ 'PROJECT.PROJECT_DESCRIPTION_SUB_TITLE_1.2' | translate }}
          </li>

          <li>
            {{ 'PROJECT.PROJECT_DESCRIPTION_SUB_TITLE_1.3' | translate }}
          </li>

          <li>
            {{ 'PROJECT.PROJECT_DESCRIPTION_SUB_TITLE_1.4' | translate }}
          </li>

        </ul>

        <tr>
          <th scope="col">{{ 'PROJECT.PROJECT_NAME_SUB_TITLE_2' | translate }}</th>
        </tr>

        <ul>
          <li>
            {{ 'PROJECT.PROJECT_DESCRIPTION_SUB_TITLE_2.1' | translate }}
          </li>

          <li>
            {{ 'PROJECT.PROJECT_DESCRIPTION_SUB_TITLE_2.2' | translate }}
          </li>

          <li>
            {{ 'PROJECT.PROJECT_DESCRIPTION_SUB_TITLE_2.3' | translate }}
          </li>

          <li>
            {{ 'PROJECT.PROJECT_DESCRIPTION_SUB_TITLE_2.4' | translate }}
          </li>

        </ul>

      </ul>

    </div>


  </form>

</section>