
.heigh_margin_tab {
    text-align: justify;
    text-justify: inter-word;
    margin-top: 10px;
    padding: 0 0px;
    line-height: 30px;
}


.text {
    text-align: justify;
    text-justify: inter-word;
    margin-top: 10px;
    padding: 0 0px;
    line-height: 30px;
    font-size: 20px;
  }
  