<section class="container mt-5">

  <form>

    <div class="form-row">
      <tabset>
        <tab heading="{{ 'ABOUT.ABOUTMETAB' | translate }}" id="tab1" class="text">
          {{ 'ABOUT.ABOUTMETEXT' | translate }}
        </tab>

        <tab heading="{{ 'ABOUT.SKILLSTAB' | translate }}" class="text">

          <div class="form-row">

            <div class="form-group col">

              <ul>
                <li>
                  Java
                </li>

                <li>
                  Angular
                </li>

                <li>
                  Type Script
                </li>

                <li>
                  Spring Boot
                </li>

                <li>
                  REST API
                </li>

                <li>
                  OData Protocol
                </li>

                <li>
                  GitHub
                </li>

                <li>
                  PostgreSQL
                </li>

                <li>
                  SQL Server
                </li>


                <li>
                  MySQL
                </li>

              </ul>

            </div>

            <div class="form-group col">
              <ul>
                <li>
                  JUnit
                </li>

                <li>
                  Selenium WebDriver
                </li>

                <li>
                  Jenkins
                </li>

                <li>
                  Jira
                </li>

                <li>
                  <td scope="row">{{ 'ABOUT.SKILLSTEXT' | translate }} </td>
                </li>

                <li>
                  AWS - Amazon
                </li>

                <li>
                  Heroku
                </li>

                <li>
                  Eclipse
                </li>
                
                <li>
                  Visual Studio Code
                </li>
                
                
                <li>
                  JPA
                </li>

                <li>
                  Flyway
                </li>

                <li>
                  CSS
                </li>

                <li>
                  HTML
                </li>

              </ul>

            </div>

          </div>

        </tab>

        <tab heading="{{ 'ABOUT.EXPIRIENCETAB' | translate }}" class="text">

          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">{{ 'ABOUT.EXPERIENCETEXT_LINE_TITLE_4' | translate }}</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td scope="row">{{ 'ABOUT.EXPERIENCETEXT_LINE_DESCRIPTION_4.1' | translate }}</td>
              </tr>
              
              <tr>
                <td scope="row">{{ 'ABOUT.EXPERIENCETEXT_LINE_DESCRIPTION_4.2' | translate }}</td>
              </tr>
              
              <tr>
                <td scope="row">{{ 'ABOUT.EXPERIENCETEXT_LINE_DESCRIPTION_4.3' | translate }}</td>
              </tr>
              

            </tbody>
          </table>

          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">{{ 'ABOUT.EXPERIENCETEXT_LINE_TITLE_3' | translate }}</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td scope="row">{{ 'ABOUT.EXPERIENCETEXT_LINE_DESCRIPTION_3.1' | translate }}</td>
              </tr>
              
              <tr>
                <td scope="row">{{ 'ABOUT.EXPERIENCETEXT_LINE_DESCRIPTION_3.2' | translate }}</td>
              </tr>
              
              <tr>
                <td scope="row">{{ 'ABOUT.EXPERIENCETEXT_LINE_DESCRIPTION_3.3' | translate }}</td>
              </tr>
              <tr>
                <td scope="row">{{ 'ABOUT.EXPERIENCETEXT_LINE_DESCRIPTION_3.4' | translate }}</td>
              </tr>
              <tr>
                <td scope="row">{{ 'ABOUT.EXPERIENCETEXT_LINE_DESCRIPTION_3.5' | translate }}</td>
              </tr>
              <tr>
                <td scope="row">{{ 'ABOUT.EXPERIENCETEXT_LINE_DESCRIPTION_3.6' | translate }}</td>
              </tr>

            </tbody>
          </table>

          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">{{ 'ABOUT.EXPERIENCETEXT_LINE_TITLE_1' | translate }}</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td scope="row">{{ 'ABOUT.EXPERIENCETEXT_LINE_DESCRIPTION_1.1' | translate }}</td>
              </tr>

              <tr>
                <td scope="row">{{ 'ABOUT.EXPERIENCETEXT_LINE_DESCRIPTION_1.2' | translate }}</td>
              </tr>

              <tr>
                <td scope="row">{{ 'ABOUT.EXPERIENCETEXT_LINE_DESCRIPTION_1.3' | translate }}</td>
              </tr>
            </tbody>
          </table>


          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">{{ 'ABOUT.EXPERIENCETEXT_LINE_TITLE_2' | translate }}</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td scope="row">{{ 'ABOUT.EXPERIENCETEXT_LINE_DESCRIPTION_2.1' | translate }}</td>
              </tr>

              <tr>
                <td scope="row">{{ 'ABOUT.EXPERIENCETEXT_LINE_DESCRIPTION_2.2' | translate }}</td>
              </tr>

            </tbody>
          </table>

        </tab>


        <tab heading="{{ 'ABOUT.FORMATIONTAB' | translate }}" class="text">

          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">{{ 'ABOUT.FORMATIONTEXT_DESCRIPTION_1.1' | translate }} </th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td scope="row">{{ 'ABOUT.FORMATIONTEXT_LINE_TITLE_1' | translate }}</td>
              </tr>

            </tbody>
          </table>

          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">{{ 'ABOUT.FORMATIONTEXT_DESCRIPTION_2.1' | translate }} </th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td scope="row">{{ 'ABOUT.FORMATIONTEXT_LINE_TITLE_2' | translate }}</td>
              </tr>

            </tbody>
          </table>
          

        </tab>

        <tab heading="{{ 'ABOUT.LANGUAGESTAB' | translate }}" class="text">

          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">{{ 'ABOUT.LANGUAGESTEXT_LINE_TITLE_1' | translate }}</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td scope="row">{{ 'ABOUT.LANGUAGESTEXT_DESCRIPTION_1.1' | translate }}</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">{{ 'ABOUT.LANGUAGESTEXT_LINE_TITLE_2' | translate }}</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td scope="row">{{ 'ABOUT.LANGUAGESTEXT_DESCRIPTION_2.1' | translate }}</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">{{ 'ABOUT.LANGUAGESTEXT_LINE_TITLE_3' | translate }}</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td scope="row">{{ 'ABOUT.LANGUAGESTEXT_DESCRIPTION_3.1' | translate }}</td>
              </tr>
            </tbody>
          </table>

        </tab>

        <tab heading="{{ 'ABOUT.COURSESTAB' | translate }}" class="text">

          <table class="table table-borderless">
            <tbody>
              <tr>
                <td scope="row">{{ 'ABOUT.COURSESTEXT_LINE_1' | translate }} </td>
              </tr>

              <tr>
                <td scope="row">{{ 'ABOUT.COURSESTEXT_LINE_2' | translate }}</td>
              </tr>

              <tr>
                <td scope="row">{{ 'ABOUT.COURSESTEXT_LINE_3' | translate }}</td>
              </tr>

              <tr>
                <td scope="row">{{ 'ABOUT.COURSESTEXT_LINE_4' | translate }}</td>
              </tr>

              <tr>
                <td scope="row">{{ 'ABOUT.COURSESTEXT_LINE_5' | translate }}</td>
              </tr>

              <tr>
                <td scope="row">{{ 'ABOUT.COURSESTEXT_LINE_6' | translate }}</td>
              </tr>

              <tr>
                <td scope="row">{{ 'ABOUT.COURSESTEXT_LINE_7' | translate }}</td>
              </tr>

              <tr>
                <td scope="row">{{ 'ABOUT.COURSESTEXT_LINE_8' | translate }}</td>
              </tr>

            </tbody>
          </table>

        </tab>

        <tab heading="{{ 'ABOUT.BOOKSTAB' | translate }}" class="text">

          <table class="table table-borderless">
            <tbody>
              <tr>
                <td scope="row">{{ 'ABOUT.BOOKSTEXT_LINE_1' | translate }} </td>
              </tr>

              <tr>
                <td scope="row">{{ 'ABOUT.BOOKSTEXT_LINE_2' | translate }} </td>
              </tr>

              <tr>
                <td scope="row">{{ 'ABOUT.BOOKSTEXT_LINE_3' | translate }} </td>
              </tr>

              <tr>
                <td scope="row">{{ 'ABOUT.BOOKSTEXT_LINE_4' | translate }} </td>
              </tr>

              <tr>
                <td scope="row">{{ 'ABOUT.BOOKSTEXT_LINE_5' | translate }} </td>
              </tr>

              <tr>
                <td scope="row">{{ 'ABOUT.BOOKSTEXT_LINE_6' | translate }} </td>
              </tr>

              <tr>
                <td scope="row">{{ 'ABOUT.BOOKSTEXT_LINE_7' | translate }} </td>
              </tr>

              <tr>
                <td scope="row">{{ 'ABOUT.BOOKSTEXT_LINE_8' | translate }} </td>
              </tr>

              <tr>
                <td scope="row">{{ 'ABOUT.BOOKSTEXT_LINE_9' | translate }} </td>
              </tr>

              <tr>
                <td scope="row">{{ 'ABOUT.BOOKSTEXT_LINE_10' | translate }} </td>
              </tr>


            </tbody>
          </table>

        </tab>


      </tabset>
    </div>

  </form>

</section>