/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

.bottomless-button {
  background: none;
  border: none;
}

.column-action-crud-header {
  width: 110px;
}

.column-action-crud-body>a,
button {
  color: #595959;
  margin-right: 0.3em;
  margin-left: 0.3em;
}

.buttons-crud-content>button {
  margin-top: 0.8em;
}

.check-box {
  margin-right: 0.5em;
  height: 25px;
  width: 25px;
}

.requiredLabel:after { content:" *";
color: red; 
}

.check-box-label {
  vertical-align: top;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.title-screen-create {
  text-align:center;
}

.title-screen-search {
  text-align:center;
}